<h1>---Shield---</h1>
<h3>Here follows the names of all great shields of our time:</h3>
<% @shields.each do |s| %>
<a href="/shield/<%= s.slug %>"><%= s.name %></a><br/>
<% end %>
<a href="/shield/new">Create Shield</a>