<h1>---Swords---</h1>
<h3>Here follows the names of all great swords of our time:</h3>
<% @swords.each do |s| %>
<a href="/swords/<%= s.slug %>"><%= s.name %></a><br/>
<% end %>
<a href="/swords/new">Create Sword</a>