<h1>--New Sword--</h1>
<form method="post" action="/swords">
Name:<input type="text" name="name" id="sword_id"><br/>
Value:<input type="text" name="value" id="sword_value"><br/>
Lethality: <input type="text" name="lethality" id="sword_lethality"></br>
<input type="submit" value="Create Sword">
</form>
