<h3>Edit Warrior Name</p3>
<form method="post" action="/users/<%= @user.id %>">
<input type="hidden" name="_method" value="PATCH">
Warrior Name: <input type="text" name="name" value="<%=@user.name%>">
<br/>
<input type="submit" value="Submit">
</form>
