<h1>New Warrior</h1>
<form method="post" action="/users">
Name:<input type="text" name="name" id="user_id"><br/>
Password:<input type="text" name="password" id="user_password"><br/>
<h3>Add Sword(s)</p3>

<h3>Add Shield(s)</p3>
<input type="submit" value="Create User">

</form>