<h1>Warrior:</h1>
Name:<%= @user.name %><br/>
Sword(s):
<% @swords.each do |s| %>
    <%= s.name %>
<% end %><br/>
Shield(s):
<% @shields.each do |s| %>
    <%= s.name %>
<% end %><br/>
<a href="/users/<%= @user.user_id %>/edit">-Edit Warrior-</a><br/>
<a href="/users">-Warrior List-</a>